/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  background: url('img/wave-haikei.svg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

nav {
  display: flex;
  align-items: center;
  padding: 1.16rem 1.30rem;
  font-family: 'Lexend Deca', sans-serif;
}

.menu {
  display: flex;
  cursor: pointer;
}

.logo {
  margin-left: 16px;
  font-size: 1.16rem;
  cursor: pointer;
}

.navigations {
  list-style: none;
  display: none;
  gap: 2rem;
}

.nav {
  font-size: 20px;
  cursor: pointer;
}

.button {
  margin-left: auto;
  font-family: 'Lexend Deca', sans-serif;
  padding: 10px 20px ;
  font-size: 13px;
  border-radius: 6px; 
  color: #fff;
  border: none;
  background-color: #a881af;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #80669d;
}

@media only screen and (min-width: 768px)and (max-width: 1023px) {

  body {
    background: url('img/wave-haikei-l.svg');
  }
  
  nav {
    padding: 2rem 3rem;
    justify-content: space-between;
  }
  
  .navigations {
    display: flex;
  }
  
  .menu {
    display: none;
  }
  
  .logo {
    font-size: 1.30rem;
    margin-left: 0;
  }
  
  .button {
    margin-left: 0;
    font-size: 16px;
  }
  
}

@media only screen and (min-width: 1024px) {

  body {
    background: url('img/wave-haikei-l.svg');
  }

   nav {
    padding: 2rem 3rem;
    justify-content: space-between;
  }
  
  .navigations {
    display: flex;
  }
  
  .menu {
    display: none;
  }
  
  .logo {
    font-size: 1.30rem;
    margin-left: 0;
  }
  
  .button {
    margin-left: 0;
    font-size: 16px;
  }
  
}
